<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2><%= display_resource_name(page.resource_name) %></h2>
  </div>
  <div class="col-lg-4">
    <% if show_search_bar %>
      <%= render(
        "search",
        search_term: search_term,
        resource_name: display_resource_name(page.resource_name)
      ) %>
    <% end %>
  </div>
</div>
