<form>
  <div class="input-group" style="margin-top: 20px;margin-bottom: 10px;">
    <input id="search"
           type="text"
           name="search"
           class="form-control"
           placeholder="<%= t("administrate.search.label", resource: resource_name) %>",
           value="<%= search_term %>">
    <span class="input-group-append">
      <button type="submmit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
